a {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
  color: black;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  position: relative;
}
a::after {
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  position: absolute;
  left: 50%;
  background-color: black;
  transition: linear 0.4s;
}
a:hover::after {
  width: 98%;
  left: 1%;
  bottom: 0;
  opacity: 0.8;
}

a.active {
  box-shadow: inset 0 -3px black;
}
